@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes companyScroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.movecompany{
    animation: companyScroll 5s linear infinite;
}